---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: digitizer-db
  namespace: digitizer
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: digitizer-nfs
spec:
  capacity:
    storage: 500Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: "NFS_SERVER_IP"   # <-- CHANGE THIS
    path: "/export/digitizer"  # <-- CHANGE THIS
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: digitizer-output
  namespace: digitizer
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  volumeName: digitizer-nfs
  resources:
    requests:
      storage: 500Gi
